<section class="shop-details-wrap">
    <div class="container">
        <div class="product-details section-gap" *ngFor="let item of shopdetails">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product-gallery clearfix">
                        <div class="product-gallery-arrow">
                            <ngx-slick-carousel #slickModal="slick-carousel" [config]="settingsThumb"
                                class="slick-thumbs">
                                <li ngxSlickItem *ngFor="let image of item.image">
                                    <img [src]="image" class="w-100" [alt]="item.title">
                                </li>
                            </ngx-slick-carousel>
                        </div>
                        <div class="gallery-slider-warp">
                            <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings"
                                class="product-gallery-slider">
                                <div ngxSlickItem class="single-gallery-itam" *ngFor="let image of item.image">
                                    <img [src]="image" class="w-100" [alt]="item.title">
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-summary">
                        <h3 class="product-name">{{item.localizedTitle}}</h3>
                        <h4 class="content-description-title">{{description}}</h4>
                          <div class="additional-info">
                                <table class="additional-info-table">
                                    <tbody>
                                         <tr *ngFor="let data of item.additional">
                                            <th>{{data.title[currentLanguage]}}</th>
                                            <td *ngIf="isObject(data.text)">{{data.text[currentLanguage]}}</td>
                                            <td *ngIf="!isObject(data.text)">{{data.text}}</td>
                                        </tr>
                                    </tbody>
                                 </table>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <app-relatedshop></app-relatedshop>
    </div>
</section>