.footer-background {
    /* background-image: url('assets/img/footergif.gif'); */
    background-image: url('../../../../assets/img/footergif.gif');
    background-repeat: repeat-x;
    height: 100px;
    width: 100%;
}
